<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    <div class="image">

      <img src="/wood-work-shops.jpg" alt="" />
      
      <h2><span>A Movie in the Park:<br />Kung Fu Panda</span></h2>

</div>
    <nav>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Projects</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">About</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:ryguy88228@gmail.com">Email</a></li>
   <li><a href="https://github.com/RyGuy88228/ryguy88228.github.io">Git Source</a></li>
   </ul>
  </footer>
  </body>

</html>
