<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="google-site-verification" content="hA2makZ8VNRRfEj6g6_DJF3GKe9YW_WRAbb90CPbxAk" />
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/png" href="/coding.png" sizes="64x64">
  
  </head>
<!--End of Google Analytics Script-->
  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/projects">Projects</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/about">About</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:ryguy88228@gmail.com">Email</a></li>
   <li><a href="https://github.com/RyGuy88228/ryguy88228.github.io">Git Source</a></li>
   </ul>
  </footer>
  </body>

</html>
