<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
      <nav>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Projects</a></li>
<li style="float:right"><a href="#">Blog</a></li>
<li style="float:right"><a href="#">About</a></li>
</ul>
    </nav>
  </head>

  <body>

<div style="padding:20px;margin-top:30px;height:1500px;">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:ryguy88228@gmail.com">Email</a></li>
   <li><a href="https://github.com/RyGuy88228/ryguy88228.github.io">Git Source</a></li>
   </ul>
  </footer>
       <div class="image">
      <img src="/wood-work-shops-1.png" alt="" />
      <h2><span>A Movie in the Park:<span class='spacer'></span><br /><span class='spacer'></span>Kung Fu Panda</span></h2>
</div>
  </body>

</html>
